@import url('./FilterButton.css');
@import url('./GridCard.css');

/*무기 추가 버튼*/
.add-weapon {
  display: flex;              /* 가운데 정렬용 */
  width: 500px;               /* 버튼 너비 */
  height: 100px;              /* 버튼 높이 */
  margin: 10px;
  border-radius: 10px;        /* 모서리 둥글게 */
  border: 3px dashed #ccc;     /* 옅은 테두리 */
  background-color: rgba(188,188,188,0.2); /* 연한 회색(투명도 포함) */
  
  align-items: center;    
  justify-content: center;
  font-size: 18px;            /* 텍스트 크기 */
  color: #fff;                /* 텍스트 색 */
  cursor: pointer;            /* 마우스 올리면 손가락 모양 */
  transition: all 0.2s ease;  /* hover 효과 부드럽게 */
}

.add-weapon:hover {
  background-color: rgba(255,255,255,0.3);  /* hover 시 조금 진한 회색 */
  border-color: #fff;                 /* 테두리 색 강조 */
}



#add-weapon-popup {
  display: none;
  flex-direction: column;
  position: fixed;
  padding: 10px;
  width: 850px;
  max-height: 400px;
  top : 50%;
  left : 30%;
  border: 3px solid #444;
  border-radius: 10px;
  background: #222222; /* 반투명 배경 */
  z-index: 1000;
}

.close-btn {
  position: absolute;
  display: flex;
  width : 28px;
  height : 28px;
  justify-content: center;
  top : 0px;
  right : 0px;
  font-size: 24px;
  cursor: pointer;
}

.weapon-filter {
  display: flex;
  width: auto;  /* 카드랑 같은 폭으로 고정 */
  margin: 10px;
  flex-direction: column;
}

#weapon-select {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  gap : 20px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: start;
  overflow: visible;
  height : 100%;
  width : 100%;
}

#weapon-select .card {
  display: flex;
  background: rgba(0,0,0,0.6);
  border-radius: 12px;
  padding: 0px;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: transform 0.2s;
  border: none;
  outline: none;
  
  height: auto;
}

#weapon-select .card p {
  width: 120px; /* 이미지 폭과 맞추기 */
  margin: 6px 0;
  text-align: center;
  word-wrap: break-word; /* 긴 단어도 자동 줄바꿈 */
  overflow: visible;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

/* 이미지 전용 박스 */
#weapon-select .img-wrapper {
  align-self: flex-start; /* 부모 flex 안에서 위쪽 고정 */
  width: 120px;
  height: 120px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;  /* 오버레이 기준점 */  
  flex-shrink: 0;   /* 이미지 높이는 줄어들지 않음 */
}
#weapon-select .img-wrapper .weap-icon {
  position: absolute;
  top: 4px;   /* 이미지 하단에서 약간 위 */
  right: 4px;    /* 이미지 오른쪽에서 약간 안쪽 */
  width: 24px;   /* 아이콘 크기 */
  height: 24px;
}
#weapon-select .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}