@import url('./css/CardInfo.css');
@import url('./css/SkillButton.css');
@import url('./css/SkillUpgrade.css');
@import url('./css/AddWeapon.css');
@import url('./css/ItemGrid.css');

body {
  margin: 0;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background-color: #111c34;
  color: white;
  align-items: center;
  justify-items: center;
}

header {
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  align-items: center;    /* 가운데 정렬 */
  justify-content: center;
  gap: 10px;
  width:100%;
}

#detail-screen {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width : 80%;
}

.divider {
  width: 2px;                /* 선 두께 */
  background: #ffffff;
  flex-shrink: 0; /* divider가 축소되지 않도록 */
}

#left-container {
  gap : 10px;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex-wrap : wrap;
  align-items: center;
}

/* 부모 섹션 조정 */
#right-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 세로 중앙은 자식 flex에서 처리 */
  margin-left: 20px;
  width: auto;
}