/* 전체 레이아웃 */
body {
  margin: 0;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background-color: #111c34;
  color: white;
}

header {
  text-align: center;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  max-width : 1400px;
  width : 100%;
  margin: 0 auto;
}

.left, .right {
  flex:1;
  padding: 20px;
  border-radius: 12px;
}

/* 구분선 */
.divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;                 /* 화면 정중앙 */
  width: 2px;                /* 선 두께 */
  
  background: #ffffff;
  transform: translateX(-50%);
}

/* 캐릭터 정보 전체 영역 (이미지 + Lv + Rank) */
.character-info {
  display: flex;              /* 가로 배치 */
  align-items: flex-start;        /* 세로 가운데 정렬 */
  gap: 10px;                  /* 이미지와 텍스트 간격 */
}

/* 캐릭터 이미지 */
.character-image img {
  width: 400px;               /* 원하는 크기로 조정 */
  border-radius: 8px;
  display: block;
}

/* Lv과 Rank 묶음 */
.status {
  margin-top: 130px;
  display: flex;
  flex-direction: column;     /* 세로로 배치 (Lv 위, Rank 아래) */
  gap: 30px;
}

.label {
  display: inline-block;
  width: 80px;   /* 글자 폭 고정 */
  font-weight: bold;
  text-align : center;
}

.character_level,
.character_rank,
.skill {
  display: flex;
  align-items: center;
}	

select {
  width: 50px;   /* 글자 폭 고정 */
  padding: 4px 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
}

.inner-divider {
  display: inline-block;
  width: 10px;
  height: 1px;       /* select 높이에 맞춤 */
  background: #fff;
  margin: 0 8px;
}

/* 스킬 연결점 버튼 */
.skill-buttons {
  display: grid;
  grid-template-columns: repeat(5, auto); /* 5개씩 */
  gap: 50px;
  width: 500px; /* character-info 이미지 폭에 맞춤 */
  margin: 0px auto 20px;       /*top right bottom left*/
  justify-items: center;
}

.skill-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-buttons button {
  display:flex;
  width: 40px;
  height: 40px;
  align-items: center;       /* 세로 중앙 */
  justify-content: center;   /* 가로 중앙 */
  border-radius: 50%;
  border: 2px solid #ccc;
  background: rgba(255,255,255,0.2); /*#1e2a44;*/
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.skill-buttons button img {
  width: 110%;
  height: 110%;
  object-fit: contain;
}

/* 연결선 */
.skill-col .connector {
  width: 0; /* 세로선 */
  height : 20px;
  flex-grow: 1; /* 버튼 사이를 가득 채움 */
  border-left: 2px solid #ccc; /* 버튼 border와 동일 */
}

.skill-buttons button:hover {
  border-color: #66aaff;
  transform: scale(1.05);
}

/* 활성화 효과 */
.skill-buttons button.active {
  border-color: #00f;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.6);
}

/* 툴팁 */
.skill-buttons button .tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 12px;
  transition: opacity 0.2s;
  z-index: 10;
}

.skill-buttons button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* 버튼 위 텍스트 */
.skill-title {
  /*text-align: left;*/
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  /*margin-left: 80px;*/
  margin-bottom: 10px;
  color: #fff;
  position: relative;
}

/* 스킬 이미지 영역 */
#skill-image {
  text-align: center;   /* 가운데 정렬 */
}

.skill-lv-up {
  width: 500px;         /* 크기 조절 */
}




/* 필요 아이템 */
.required-items {
  margin-left:40px;
  display: grid;
  grid-template-columns: repeat(4, 120px);
  gap: 12px;
  justify-content: start;
}

.required-items img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fafafa;
  padding: 6px;
}
