@import url('./css/FilterButton.css');
@import url('./css/GridCard.css');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  min-height: 100vh;
  background : #111c34;
  overflow-y: scroll;
}

header {
  text-align: center;
  padding: 20px;
}

main {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;    /* 가운데 정렬 */
}


/* 탭 버튼 pill 스타일 */
nav .tab {
  background: rgba(255,255,255,0.2);
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 0 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}
nav .tab.active {
  background: rgba(255,255,255,0.5);
  color: black;
}

#main-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap : 10px;
}

/* 필터 컨테이너 */
.filter-screen {
  display: flex;
  width: 1100px;  /* 카드랑 같은 폭으로 고정 */
  flex-direction: column;
  justify-content: center;  
}

/* 캐릭터/무기 선택 화면 */
.select-screen {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  gap : 20px;
  justify-content: center;
  align-items: start;
  overflow: visible;
  height : 100%;
  width : 100%;
}