body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  min-height: 100vh;
  background: url("images/wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
}

header {
  text-align: center;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;    /* 가운데 정렬 */
  margin: 20px;
}


/* 탭 버튼 pill 스타일 */
nav .tab {
  background: rgba(255,255,255,0.2);
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 0 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

nav .tab.active {
  background: rgba(255,255,255,0.5);
  color: black;
}
/*////////////////////*/

/* 필터 컨테이너 */
#filter-screen {
  width: 1030px;  /* 카드랑 같은 폭으로 고정 */
}

#filter-screen .filter-buttons {
  margin-left : 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row; /* ✅ 가로 정렬 */
  gap: 10px;
}

#filter-screen .filter-row {
  display: grid;
  gap: 10px;
}

#filter-screen .filter-buttons button{
  background: rgba(255,255,255,0.2);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#filter-screen .filter-buttons img {
  width: 32px;   /* 아이콘 크기 */
  height: 32px;
}

#filter-screen .filter-buttons button:hover {
  background: rgba(255,255,255,0.5);
}

#filter-screen .filter-buttons button.active {
  background: rgba(255,255,255,0.8);
}

/* 캐릭터/무기 선택 화면 */
#select-screen {
  margin : auto;
  align-items: center;
  min-height: 50vh;
}

/* 카드 그리드 */
#select-screen .card-grid {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(6, 120px);
  gap: 30px;
}

#select-screen .select-card {
  justify-content: flex-start;
  background: rgba(0,0,0,0.6);
  border-radius: 12px; /*라운딩*/
  padding: 0px;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  border: none;
  outline: none;
}
#select-screen .select-card img {
  width: 120px;
  height: 120px;
  border-radius: 0px;
}

#select-screen .select-card p {
  margin: auto;
  font-size: 1rem;   /* 원하는 크기로 조정 */
  font-weight: bold;   /* 글씨 두껍게 */
  color: white;        /* 색상 변경 가능 */
  text-align: center;
}

/* 마우스 올려 있을 때 */
#select-screen .select-card:hover {
  transform: scale(1.05);
  background: rgba(255,255,255,0.2);
}
/*//////////////////////*/